{% extends "base.html" %} {% block content %}
{% from 'bootstrap4/form.html' import render_form %}
<div class="container">
	<h1 class="mt-5 mb-4">Your Informations</h1>
	<div class="row">
		<div class="col-md-4">

			{{ render_form(form, action=url_for('checkout.verify_checkout')) }}
		</div>

		<div class="col-md-8">
			<div id="checkout-cart-content" class="">
				<h2>Your Cart</h2>
				{% for item in products_in_cart %}
				<div class="cart-item col-12 mt-4 row align-items-center cart-item">

					<img class="col-4 col-lg-2" src="{{item.image}}"  />
					<div class="col-8 row align-items-center">
						<div class="col-12 col-lg-4">
							<p class="font-weight-bold mb-0">{{item.name}}</p>
							{%for option in item.options%}

							<span>{{option.group}}: </span>
							<span>{{option.name}}</span>

							{%endfor%}
						</div>

						<p class="align-items-center col-12 col-lg-4 mb-0">
							quantity: {{item.quantity}}
						</p>
						<div class="col-12 col-lg-4">
							{% if not item.discount_price %}
								<span class="font-weight-bold pb-1">${{item.price}}</span>
							{%else%}
								<span class="font-weight-bold">
									${{item.discount_price}}
								</span>
								<span class="font-weight-light text-danger">
									<s>
										${{item.price}}
									</s>
								</span>
							{%endif%}
							</div>
						</div>
						<hr class="col-12 mt-4" />
					</div>
					{%endfor%}
					<div class="rounded row">
						<div class="col-12 row">
							<p class="col" id="totalItemQuantity">
								{{ products_in_cart|length }} Products
							</p>
							<p class="col" id="totalPrice">${{totals.before_discount}}</p>
						</div>
						{% if totals.discount != 0%}
						<div id="totalDiscount" class="col-12 row">
							<p class="col">Total Discount</p>
							<p class="col" id="totalDiscountValue">-${{totals.discount}}</p>
						</div>
						{% endif %}
						<div class="col-12 row font-weight-bold">
							<p class="col">Total</p>
							<p class="col" id="subtotal">${{totals.subtotal}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
</div>
