@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cinzel";
	src: url("../fonts/Cinzel/Cinzel-Regular.ttf") format("truetype");
	font-weight: normal; /* Use 600 for semi-bold */
	font-style: normal;
}
@font-face {
	font-family: "Cinzel";
	src: url("../fonts/Cinzel/Cinzel-Bold.ttf") format("truetype");
	font-weight: bold; /* Use 600 for semi-bold */
	font-style: normal;
}

body {
	font-family: "Lato", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display {
	font-family: "Cinzel", serif !important;
}

li {
	list-style: none;
}

.home-banner {
	height: 90vh;
}

.bg-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}
.banner-card-right:hover .overlay {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}
.shop-product-card a {
	text-decoration: none;
	color: #212529;
}
.shop-product-card {
	list-style-type: none;
}
.shop-product-card {
	/* Ensure products cards arent too big on smaller screens */
	height: min(500px, 60vh);
}

.shop-product-card-top {
	overflow: hidden;
}

.product-page-image {
	max-height: 100vh;
}

.atc-button {
	color: white;
	background-color: #343a40;
}
.atc-button {
	margin-top: 20px;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 4px;
}

.product-discount-price {
	font-size: 18px;
	color: #e74c3c;
	font-weight: bold;
}

.text-sm {
	font-size: 0.8rem;
}
.cart-row {
	height: 150px;
}
.responsive-display {
	font-size: 4rem;
}
@media (max-width: 767px) {
	#filter-form {
		display: none;
	}
}
@media (min-width: 576px) {
	.responsive-display {
		font-size: 6rem;
	}
}

@media (min-width: 768px) {
	#toggle-filter-form {
		display: none;
	}
}
